@using WeldingJobTrackerWebApp.Models.ViewModels.ViewDashboard;
@model DashboardViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row mb-2">
    <div class="col">
        <h1 class="display-4 fw-normal">Dashboard</h1>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <a type="button" class="btn btn-primary" asp-controller="Account" asp-route-id="@Model.CurrentUser.Id" asp-action="Details">Edit User Profile</a>
        <a type="button" class="btn btn-primary" asp-controller="Account" asp-action="AddNewUser">Add new account</a>
        <a type="button" class="btn btn-primary" asp-controller="Project" asp-action="Index">Projects</a>
        <a type="button" class="btn btn-primary" asp-controller="Team" asp-action="Index">Teams</a>
        <a type="button" class="btn btn-primary" asp-controller="Client" asp-action="Index">Clients</a>
    </div>
</div>
<div class="row mb-4">
    <div class="col">
        <div class="card">
            <div class="card-header">Personnel</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Email</th>
                            <th scope="col">Location</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Users)
                        {
                            <tr>
                                <td>@item.LastName, @item.FirstName</td>
                                <td>@item.Email</td>
                                <td>@item?.Address?.City, @item?.Address?.State</td>
                                <td>
                                    <a asp-controller="Account" asp-action="Details" asp-route-id="@item?.Id" type="button" class="btn btn-primary">View</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>





