@using WeldingJobTrackerWebApp.Models.ViewModels.ViewAccount;
@model LoginViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}

@* <div class="row">
    <div class="col-md-6 offset-3">
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span>@TempData["Error"]</span>
            </div>
        }
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Login" class="form-signin">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    
                    <label asp-for="EmailAddress" class="sr-only">Email address</label>
                    <input asp-for="EmailAddress" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
                    
                    <label asp-for="Password" class="sr-only">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="">
                    
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div> *@

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                @if (TempData["Error"] != null)
                {
                    <div class="col-md-12 alert alert-danger">
                        <span>@TempData["Error"]</span>
                    </div>
                }
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                <div class="card-body">
                    <form asp-action="Login">
                        <div class="form-floating mb-3">
                            <input asp-for="EmailAddress" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" required="" autofocus="">
                            <label asp-for="EmailAddress" >Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Password" class="form-control" id="inputPassword" type="password" placeholder="Password" required="">
                            <label asp-for ="Password" >Password</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="">
                            <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a class="small" href="password.html">Forgot Password?</a>
                            <button class="btn btn-primary" type="submit">Sign in</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small">
                        <a asp-area="" asp-controller="Account" asp-action="Register">Need an account? Sign up!</a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
