@using WeldingJobTrackerWebApp.Models.ViewModels.ViewAccount;
@model RegisterViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            @if (TempData["Error"] != null)
            {
                <div class="col-md-12 alert alert-danger">
                    <span>@TempData["Error"]</span>
                </div>
            }
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                <div class="card-body">
                    <form asp-action="Register">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="FirstName" class="form-control" type="text" placeholder="Enter your first name">
                                    <label asp-for="FirstName">First name</label>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input asp-for="LastName" class="form-control" type="text" placeholder="Enter your last name">
                                    <label asp-for="LastName" for="inputLastName">Last name</label>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="CompanyName" type="text" class="form-control" placeholder="Company Name" required="">
                            <label asp-for="CompanyName">Company Name</label>
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="EmailAddress" class="form-control" type="email" placeholder="name@example.com">
                            <label asp-for="EmailAddress" >Email address</label>
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="Password" class="form-control" id="inputPassword" type="password" placeholder="Create a password">
                                    <label asp-for="Password" for="inputPassword">Password</label>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3 mb-md-0">
                                    <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm password">
                                    <label asp-for="ConfirmPassword">Confirm Password</label>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-0">
                            <div class="d-grid">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center py-3">
                    <div class="small">
                        <a asp-area="" asp-controller="Account" asp-action="Login">Have an account? Go to login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
