@using WeldingJobTrackerWebApp.ViewModels;
@model ProjectViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" class="form-control" aria-describedby="Project Name" placeholder="Project Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedProjectStatus">Project State</label>
        <select asp-for="SelectedProjectStatus" class="form-control" asp-items="Model.ProjectStatusSelectList"></select>
        <span asp-validation-for="SelectedProjectStatus" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedUser">User</label>
        <select asp-for="SelectedUser" class="form-control" asp-items="Model.UserSelectList"></select>
        <span asp-validation-for="SelectedUser" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" type="text" class="form-control" aria-describedby="Description" placeholder="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Budget">Budget</label>
        <input asp-for="Budget" type="number" class="form-control" aria-describedby="Budget" placeholder="Budget">
        <span asp-validation-for="Budget" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CostEstimate">CostEstimate</label>
        <input asp-for="CostEstimate" type="text" class="form-control" aria-describedby="CostEstimate" placeholder="CostEstimate">
        <span asp-validation-for="CostEstimate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartDate">StartDate</label>
        <input asp-for="StartDate" type="date" class="form-control" aria-describedby="StartDate" placeholder="StartDate">
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rate">Project Rate</label>
        <input asp-for="Rate" type="text" class="form-control" aria-describedby="Project Rate" placeholder="Project Rate">
        <span asp-validation-for="Rate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EstimatedHours">Estimated Hours</label>
        <input asp-for="EstimatedHours" type="number" class="form-control" aria-describedby="Estimated Hours" placeholder="Estimated Hours">
        <span asp-validation-for="EstimatedHours" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
