@using WeldingJobTrackerWebApp.Models.ViewModels.ViewProject
@model EditProjectViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row justify-content-center">
    <div class="col-xl-8 col-md-6">
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span>@TempData["Error"]</span>
            </div>
        }
        <!-- Account details card-->
        <div class="card mb-4">
            <div class="card-header">Project Information</div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <form method="post" asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" id="CompanyId" name="CompanyId" asp-for="CompanyId" />
                            <input type="hidden" id="TeamSelectList" name="TeamSelectList" asp-for="TeamSelectList" />
                            <input type="hidden" id="ProjectStatusSelectList" name="ProjectStatusSelectList" asp-for="ProjectStatusSelectList" />

                            <div class="row gx-3 mb-3">
                                <div class="col">
                                    <label asp-for="Name">Name</label>
                                    <input asp-for="Name" type="text" class="form-control" aria-describedby="Project Name" placeholder="Project Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <div class="col">
                                    <label asp-for="SelectedProjectStatusId">Project Status</label>
                                    <select asp-for="SelectedProjectStatusId" class="form-control" asp-items="Model.ProjectStatusSelectList"></select>
                                    <span asp-validation-for="SelectedProjectStatusId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <div class="col">
                                    <label asp-for="SelectedTeamId">Team</label>
                                    <select asp-for="SelectedTeamId" class="form-control" asp-items="Model.TeamSelectList"></select>
                                    <span asp-validation-for="SelectedTeamId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="row gx-3 mb-3">
                                <div class="col">
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>                            
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col form-group">
                        <form asp-action="Delete" method="post">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Delete" class="btn btn-danger float-right mt-3" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
